{% extends "base.html" %}

{% block title %}Додати нову книгу{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Додати нову книгу</h2>
            
            <form method="post" action="/books/create">
                <div class="mb-3">
                    <label for="name" class="form-label">Назва книги</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="author" class="form-label">Автор</label>
                    <input type="text" class="form-control" id="author" name="author" required>
                </div>

                <div class="mb-3">
                    <label for="pages" class="form-label">Кількість сторінок</label>
                    <input type="number" class="form-control" id="pages" name="pages" required min="1">
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Категорія</label>
                    <input type="text" class="form-control" id="category" name="category" required>
                </div>

                <button type="submit" class="btn btn-success w-100">Додати книгу</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}